.container__table {
  margin-top: 10px;
  text-align: center;
}

thead .th {
  background: var(--backg-blue);
  color: var(--color-white);
  border: 5px solid transparent;
  background-clip: padding-box;
  font-size: 15px;
  font-weight: 300;
}

.tbody td { 
  border-right: 5px solid #FFF;
  background-clip: padding-box;
}

.tbody {
  background: #d5d5d5;
}
