.container__btn {
    font-size: 16px;
    font-weight: 300;
    vertical-align: middle;
}

.container__btn .btn__addItem, .container__form .btn__save {
    color: var(--color-white)
}

.container__btn .btn {
    border-radius: 20px;
}